body {
  background-color: #282828;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  width: 100vw;
  color: #b2b2b2;
}

header, footer {
  height: 99px;
  background-color: #222;
  color: #FFDE00;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-bottom: 1px solid #999;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer {
  bottom: 0;
  height: 56px;
  justify-content: space-evenly;
  color: #b2b2b2;
  align-items: center;
}

i {
  height: 100%;
  margin: auto 0;
  font-size: 32px;
  text-align: center;
  padding-top: 9px;
  border-top: 2.5px solid #ffffff00;
}

.fa-house {
  aspect-ratio: 1 / 1;
}

.fa-scale-balanced {
  aspect-ratio: 81 / 65;
}

.active {
  color: #FFDE00;
  border-top: 2.5px solid #FFDE00;
}

main {
  position: absolute;
  top: 100px;
}

#bar {
  display: flex;
  width: 333px;
  background-color: #1e1e1e;
  margin-top: 37.5px;
  margin-left: 50vw;
  transform: translate(-50%, 0%);
  height: 45px;
  border-radius: 10px;
  justify-content: space-evenly;
}

.divider {
  background: #5d5d5d;
  height: 100%;
  width: 1px;
  z-index: 2;
  position: relative;
}

.numbers {
  padding: 0 calc(50vw - 166.5px);
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 12px;
  width: 333px;
  color: white;
  margin-top: -63px;
}

.number::before {
  content: '';
  height: 45px;
  width: 2px;
  background: #5d5d5d;
  display: inline-block;
  transform: translate(12px, -27px);
  z-index: 2;
  position: relative;
}

#progress {
  height: 45px;
  border-radius: 10px;
  width: 200px;
  background: #FFDE00;
  left: calc(50vw - 166.5px);
  z-index: 1;
  transform: translate(0, -100%);
  position: relative;
}

h2 {
  margin-left: calc(50vw - 166.5px);
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 59.5px;
}

.first {
  color: #FFDE00;
}

.second {
  color: #aaa;
}

.third {
  color: #774100;
}

.child, .bonus {
  width: 333px;
  border-radius: 10px;
  height: 67px;
  margin-bottom: 27.5px;
  background: #1e1e1e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bonus {
  width: 400px;
}

.bonus .bonus-name {
  max-width: 170px;
  overflow: hidden;
} 

.leaderboard, .bonuses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  width: 95vw;
  margin: 0 auto;
  position: static;
  margin-top: 30px;
  margin-bottom: 140px;
}

.fa-trophy {
  font-size: 30.5px;
  height: 30.5px;
  aspect-ratio: 1;
  padding-top: 0;
}

.child button {
  width: 36.5px;
  height: 36.5px;
  border-radius: 36.5px;
  border: none;
  background: #A9A9A9;
  color: #282828;
  font-size: 10px;
  padding: 0;
  font-weight: bold;
}

.child button i {
  font-size: 16px;
}

.stats {
  width: 193.5px;
  height: 42px;
  overflow: hidden;
  color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.name {
  font-weight: bold;
  margin-bottom: 2px;
}

.nums {
  font-size: 12px;
  display: flex;
  gap: 48px;
}

.fa-money-bills {
  font-size: 10.5px;
  padding-top: 0;
}

.money div {
  display: inline-block;
}

.positive {
  color: #009500;
}

.points {
  font-weight: bold;
}

.negative {
  color: #d80000;
}

.button {
  width: 30px;
  aspect-ratio: 1;
  background-color: #2b2b2b;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.buttons {
  width: 130px;
  display: flex;
  justify-content: space-around;
}